@font-face{
    font-family: trial;
    src: url('/static/css/Montserrat-Regular.ttf');
    font-weight: bold;
}

#map {
    height: 100%;
}

html, body {
    background-color: white;
    font-family: trial;
    height: 100%;
    margin: 0;
    padding: 0;
}

