{% extends 'base.html' %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
<script src="{{ url_for('static',filename='js/index.js') }}" ></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASUNkGuA2TVIMetjobbJTAgyz6y29b4bE&callback=initMap&libraries=places&v=weekly"defer></script>
{% endblock %}
{% block head %}
<title>COVIDSafe but better</title>
{% endblock %}

{% block body %}
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>
<div id="map"></div>
<div id="search">
    <div id="searchInputContainer">
        <input type="text" class="form-control" id="searchTextbox" placeholder="Search for a place">
    </div>
    <div style="height: 48px; padding: 5px;" id="searchBtnContainer">
        <div id="searchBtn">
            <button class="btn btn-primary" type="button">Search</button>
        </div>
    </div>
</div>
{% endblock %}